{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.code.label }}<br>
            {{ form.code(size=32) }}<br>
            {% for error in form.code.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=64) }}<br>
            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.product_type.label }}<br>
            {{ form.product_type(size=32) }}<br>
            {% for error in form.product_type.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(size=10) }}<br>
            {% for error in form.price.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.vat_type.label }}<br>
            {{ form.vat_type() }}<br>
            {% for error in form.vat_type.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
